h1{
    color:blue;
    margin: 30px;
    font-family:Arial
}
div img {

    border-radius: 50%;
    margin: 30px;
}
div h1{
    text-align: center;
}
#table{
    margin:30px;
}

#table table{
    border: 2px solid black;
    width: 50%;
    border-collapse: collapse;
}
#tabel th,td{
    border:1px solid black;
    text-align: center;
}
th{
    background-color:lightgray;
}
.important{
    font-weight: bold;
    font-size: 20px;
}
#hyperlinks{
    margin:30px;
}
button{
    background-color: white;
}
button:hover{
    background-color: lightgrey;
}
button::before{
    content:"\21d2";
    font-weight: bold;
}
@media print{
    .important{
        display: none;
    }
}
@media (min-width: 960px){
    #heading h1::before{
        content: "This is my Webpage which includes my details."

    }
    }
@media (max-width: 959px){
    #heading h1::before{
        content:"My webpage!"
    }
}
.h{
    display:flex;
    flex-wrap: wrap;

}
.h>p{
    background-color: springgreen;
}
